{# -*- engine: jinja2 -*- #}
<!DOCTYPE html>
{% set use_cdn = false %}
<html lang="{{ lang_code }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Bleau Database{% block title %}{% endblock %}</title>
    <meta name="description" content="{{ _("Base de données des sites d'escalade de blocs de la région de Fontainebleau") }}">
    <meta name="author" content="Fabrice Salvaire">

    {# Cookie Consent #}
    {% include "include/cookie-consent.html" %}

    {# Stylesheets #}
    <link rel="shortcut icon" href="{{ url_for('static', filename='image/favicon.png') }}">
    {% if use_cdn %}
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css"
	    integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
    {% else %}
      <link rel="stylesheet" href={{ url_for('static', filename='css-ext/font-awesome.min.css') }}>
      <link rel="stylesheet" href={{ url_for('static', filename='css-ext/bootstrap.min.css') }}>
    {% endif %}
    <link rel="stylesheet" href={{ url_for('static', filename='css/bleau-database.css') }}>

    {% block head %}{% endblock %}
  </head>

  {# Body (Fixme: overridden for google map ???) #}
  {% block body %}
    <body itemscope itemtype="http://schema.org/WebPage">
      {# Top navbar #}
      {% block navbar %}
	{# role="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement" #}
	<nav class="navbar navbar-dark bg-inverse navbar-fixed-top">
	  <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#CollapsingNavbar1">
	    &#9776;
	  </button>
	  <div class="collapse navbar-toggleable-xs" id="CollapsingNavbar1">
	    <div class="container">
	      <a class="navbar-brand" href="/{{ lang_code }}" itemprop="url">Bleau DB</a>
	      <ul class="nav navbar-nav">
		{#
		<li class="nav-item active">
		  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
		</li>
		<li class="nav-item">
		  <a class="nav-link" href="/{{ lang_code }}/search-massifs">Rechercher</a>
		</li>
		#}
		<li class="nav-item pull-xs-right">
		  {% if lang_code == 'fr' %}
		    <a class="nav-link" href="/en/{{ page_path }}" itemprop="url">English</a>
		  {% else %}
		    <a class="nav-link" href="/fr/{{ page_path }}" itemprop="url">Français</a>
		  {% endif %}
		</li>
	      </ul>
	    </div>
	  </div>
	</nav>
      {% endblock %}

      {# Standard page layout #}
      {% block body_container %}
	<div class="body">
	  <div class="container">
	    {# Breadcrumb #}
	    {% block breadcrumb %}
	      <ul class="breadcrumb" role="navigation" itemscope itemtype="http://schema.org/BreadcrumbList">
		<li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
		  <a href="/{{ lang_code }}" itemprop="item">
		    <i class="fa fa-home"></i> <span itemprop="name">Accueil</span></a>
		  <meta itemprop="position" content="1" /></li>
		{% block breadcrumb_li %}
		{% endblock %}
	      </ul>
	    {% endblock %}

	    {# Page content #}
	    <main role="main" itemscope itemprop="mainContentOfPage">
	      <div class="row">
		<div class="col-xl-12">
		  {% block content %}{% endblock %}
		</div>
	      </div>
	    </main>

	    {# Footer #}
	    {% block footer %}
	      <hr />
	      <footer role="contentinfo" itemscope itemtype="http://schema.org/WPFooter">
		<p itemprop="copyrightHolder" itemscope itemtype="http://schema.org/WebApplication">
		  <i class="fa fa-copyright"></i>
		  <a href="https://github.com/bleaudb/bleau-database">
		    <span itemprop="name">Bleau Database Web Application</span>
		    <span itemprop="copyrightYear">2016</span></a>
		  {# / Fabrice Salvaire  #}
		  / <a href="/{{ lang_code }}/mentions-legales">Mentions légales</a>
		</p>
	      </footer>
	    {% endblock %}
	  </div>
	</div>
      {% endblock %}

      <!--googleoff: all-->{# https://www.google.com/support/enterprise/static/gsa/docs/admin/70/gsa_doc_set/admin_crawl/preparing.html #}
      <div id="cookie-consent-container"></div>
      <!--googleon: all-->

      {# Lazy Scripts #}
      {% if use_cdn %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
      {% else %}
	<script type="text/javascript" src={{ url_for('static', filename='js-ext/jquery.min.js') }}></script>
      {% endif %}
      <script type="text/javascript" src={{ url_for('static', filename='js-ext/tether.min.js') }}></script>
      {% if use_cdn %}
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js"
		integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>
      {% else %}
	<script type="text/javascript" src={{ url_for('static', filename='js-ext/bootstrap.min.js') }}></script>
      {% endif %}

      {# Piwik tracker #}
      <script type="text/javascript" src={{ url_for('static', filename='js/piwik.js') }}></script>
      <noscript><p><img src="//stats.fabrice-salvaire.fr/piwik.php?idsite=4" style="border:0;" alt="" /></p></noscript>

      {# Custom script #}
      {% block script %}{% endblock %}
    </body>
  {% endblock %}
</html>
