{# -*- engine: jinja2 -*- #}

{% macro bokeh_css() %}
  {% if use_cdn %}
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-0.11.0.min.css" rel="stylesheet" type="text/css">
  {% else %}
    <link rel="stylesheet" href={{ url_for('static', filename='css-ext/bokeh.min.css') }}>
  {% endif %}
{% endmacro %}

{% macro bokeh_js() %}
  {% if use_cdn %}
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.11.0.min.js"></script>
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-0.11.0.min.js" rel="stylesheet" type="text/js">
  {% else %}
    <script src={{ url_for('static', filename='js-ext/bokeh.min.js') }}></script>
  {% endif %}
{% endmacro %}
