{# -*- engine: jinja2 -*- #}
{# Cookie Consent plugin by Silktide -
https://silktide.com/tools/cookie-consent/docs/installation/

http://www.primebox.co.uk/projects/jquery-cookiebar/
#}
<script type="text/javascript">
 window.cookieconsent_options = {
     "message": "En poursuivant votre navigation sur ce site, vous acceptez l’utilisation de Cookies ou autres traceurs pour réaliser des statistiques de visites.<br>",
     "dismiss": "Accepter",
     "learnMore": "Pour en savoir plus.", {# et paramétrer les traceurs #}
     "link": "{{ lang_code }}/mentions-legales",
     "theme": "dark-top",
     "container": "#cookie-consent-container"
 };
</script>
{% if use_cdn %}
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.9/cookieconsent.min.js"></script>
{% else %}
<script type="text/javascript" src={{ url_for('static', filename='js-ext/cookieconsent.min.js') }}></script>
{% endif %}
