{# -*- engine: jinja2 -*- #}
{% extends "include/base.html" %}

{% block head %}
  {% if use_cdn %}
    <link rel="stylesheet" href="http://openlayers.org/en/v3.10.1/css/ol.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  {% else %}
    <script type="text/css" src={{ url_for('static', filename='css/ol.css') }}></script>
  {% endif %}

  <style>
   .map {
       width: 100%;
       height: 500px;
   }
  </style>

  {% if use_cdn %}
    <script type="text/javascript" src="http://openlayers.org/en/v3.10.1/build/ol.js"></script>
  {% else %}
    <script type="text/javascript" src={{ url_for('static', filename='js/ol.js') }}></script>
  {% endif %}
{% endblock %}

{% macro big_map_style() %}
  <style>
   .bigmap {
       position: fixed;
       // left: 0;
       // top: 0;
       width: 100%;
       height: 100%;
   }
   // .ol-viewport {
   //     position: fixed;
   //     top: 0;
   //     left: 0;
   //     z-index: 1;
   // }
   // .ol-zoom {
   //     top: 3em;
   //     left: 0.5em;
   // }
   // .ol-zoom-extent {
   //     top: 7em;
   //     left: 0.5em;
   // }
   #toolbar {
       // position: fixed;
       top: 0;
       left: 0;
       z-index: 2;
       padding: 4px;
       background: #D1FEBB; // #DEFFCD
   }
   #toolbar .btn {
       margin-bottom: 0;
   }
   #mouse-position, .custom-mouse-position {
       display: inline-block;
       margin-bottom: 0;
   }
   #mouse-position {
       width: 9em;
   }
   .custom-mouse-position {
   }
   #toolbar form {
       display: inline-block;
   }
  </style>
{% endmacro %}

{% macro help_modal() %}
  <div  id="help-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
	<div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
	    <span aria-hidden="true">&times;</span><span class="sr-only">Fermer</span></button>
          <h4 class="modal-title">Aide</h4>
	</div>
	<div class="modal-body">
	  <h2>Fond Cartographique</h2>
	  <p>
	    Le fond cartographique est fournit par le service
	    <a href="http://www.geoportail.gouv.fr">Géoportail</a> de l'IGN.
	  </p>
	  <p>
	    On peut sélectionner un autre type de carte à partir de la liste déroulante parmis les couches suivantes :
	    <dl>
	      <dt>Cartes IGN</dt>
	      <dd>Carte papier scannée série TOP 25, 100, … {# (GEOGRAPHICALGRIDSYSTEMS.MAPS) #}</dd>
	      <dt>Carte Scan Express</dt>
	      <dd>Carte offrant une meilleure lisibilité que la précédente
		{# (GEOGRAPHICALGRIDSYSTEMS.MAPS.SCAN-EXPRESS.STANDARD) #}</dd>
	      <dt>Vue aérienne</dt>
	      <dd>{# (ORTHOIMAGERY.ORTHOPHOTOS) #}</dd>
	      <dt>Routes</dt>
	      <dd>Carte mettant l'accent sur le réseau routier {# (TRANSPORTNETWORKS.ROADS) #}</dd>
	      <dt>Parcelles cadastrales</dt>
	      <dd>{# (CADASTRALPARCELS.PARCELS) #}</dd>
	    </dl>
	  </p>
	  <p>
	    Les légendes des cartes sont disponible sur le site du Géoportail.
	  </p>
	  <h2>Points d'interêt</h2>
	  <p>
	    Les points d'interêt sont clusterisés lorsqu'on zoom la carte à grande échelle. Le
	    chiffre indique le nombre de points d'interêt clusterisés.
	  </p>
	  <p>
	    Le nom d'un point d'interêt s'affiche, lorsque que l'on positionne le pointeur de la
	    souris dessus.</p>
	  <h2>Bontons de Contrôles</h2>
	  <p>
	    {#
	    <dl class="dl-horizontal">
	    <dt>+</dt><dd>Zoomer</dd>
	    <dt>-</dt><dd>Dézoomer</dd>
	    <dt>E</dt><dd>Zoomer sur le voisinage du site</dd>
	    <dt>↔</dt><dd>Passer en mode plein écran</dd>
	    </dl>
	    #}
	    <ul class="list-unstyled">
	      <li><button type="button" class="btn btn-secondary btn-sm disabled" style="width: 3em !important">+</button>
		Zoomer</li>
	      <li><button type="button" class="btn btn-secondary btn-sm disabled" style="width: 3em !important">-</button>
		Dézoomer</li>
	      <li><button type="button" class="btn btn-secondary btn-sm disabled" style="width: 3em !important">E</button>
		Zoomer sur le voisinage du site</li>
	      <li><button type="button" class="btn btn-secondary btn-sm disabled" style="width: 3em !important">↔</button>
		Passer en mode plein écran</li>
	    </dl>
	  </p>
	  <h2>Position sur la carte</h2>
	  <p>On peut sélectionner le référentiel et la précision à partir des listes déroulantes.</p>
	  <h2>Barre d'édition</h2>
	  <p>
	    {#
	    <dl class="dl-horizontal">
	    <dt><span class="fa fa-arrows"</span></dt><dd>Mode standard</dd>
	    <dt><span class="fa fa-plus"</span></dt><dd>Mode d'ajout de points d'interêt</dd>
	    <dt><span class="fa fa-pencil"</span></dt><dd>Mode d'édition des points d'interêt</dd>
	    <dt><span class="fa fa-mouse-pointer"</span></dt><dd></dd>
	    </dl>
	    #}
	    {#
	    <ul class="fa-ul">
	    <li><i class="fa-li fa fa-check-square"></i>...</li>
	    </ul>
	    #}
	    <ul class="list-unstyled" >
	      <li><span class="fa fa-arrows"</span> Mode standard</li>
	      <li><span class="fa fa-plus"</span> Mode d'ajout de points d'interêt</li>
	      <li><span class="fa fa-pencil"</span> Mode d'édition des points d'interêt</li>
	      <li><span class="fa fa-mouse-pointer"</span> </li>
	    </ul>
	  </p>
	  <p>
	    Une fois que l'on a ajouté des points d'interêt, on peut les télécharger au format
	    GeoJSON en cliquant sur le bouton «download», le fichier est sauvegardé sous le nom «bleau-geo.json»</p>
	</div>
      </div>
    </div>
  </div>
{% endmacro %}

{% macro feature_modal() %}
  <div  id="feature-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
	<div class="modal-header">
	  {#
          <button type="button" class="close" data-dismiss="modal">
	  <span aria-hidden="true">&times;</span><span class="sr-only">Annuler</span></button>
	  #}
          <h4 class="modal-title">Ajouter une entité</h4>
	</div>
	<div class="modal-body">
	  <table class="table table-sm">
	    <tbody>
	      <tr>
		<td>
		  <a href="http://spatialreference.org/ref/epsg/wgs-84/">
		    WGS 84
		  </a></td>
		<td id="feature-wsg84-position"></td>
	      </tr>
	      <tr>
		<td>
		  <a href="http://spatialreference.org/ref/sr-org/epsg3857-wgs84-web-mercator-auxiliary-sphere/">
		    Mercator
		  </a></td>
		<td id="feature-mercator-position"></td>
	      </tr>
	    </tbody>
	  </table>
	  <form class="form">
	    <div id="feature-name-group" class="form-group">
              <label for="feature-name" class="control-label">Nom:</label>
              <input id="feature-name" type="text" class="form-control" autocomplete=off></input>
            </div>
	    <div class="form-group">
	      <label for="feature-category" class="control-label">Catégorie</label>
	      <select id="feature-category"> {# class="form-control" #}
		<option value="gare">Gare</option>
		<option value="parking">Parking</option>
		<option value="point d'eau">Point d'eau</option>
	      </select>
	    </div>
	    <div class="form-group">
              <label for="feature-note" class="control-label">Nom:</label>
              <textarea id="feature-note" class="form-control" autocomplete=off></textarea>
            </div>
	  </form>
	</div>
	<div class="modal-footer">
          <button id="cancel-feature-button" type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
          <button id="save-feature-button" type="button" class="btn btn-primary">Enregistrer</button>
	</div>
      </div>
    </div>
  </div>
{% endmacro %}

{% macro toolbar() %}
  <div id="toolbar">
    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#help-modal">
      <i class="fa fa-info"></i></button>
    <div id="map-toolbar" class="btn-group btn-group-sm" data-toggle="buttons">
      <label id="pan" class="btn btn-primary active">
	<input type="radio" name="map-toolbar-radio" autocomplete="off" checked> <i class="fa fa-arrows"></i>
	{# Pan #}
      </label>
      <label id="point" class="btn btn-primary">
	<input type="radio" name="map-toolbar-radio" autocomplete="off">
	<i class="fa fa-plus"></i>
	{# Place #}
      </label>
      <label id="modify" class="btn btn-primary">
	<input type="radio" name="map-toolbar-radio" autocomplete="off">
	<i class="fa fa-pencil"></i>
	{# Modifier #}
      </label>
      <label id="select" class="btn btn-primary">
	<input type="radio" name="map-toolbar-radio" autocomplete="off">
	<i class="fa fa-mouse-pointer"></i>
	{# Selectioner #}
      </label>
    </div>
    <a id="download-feature-button" class="btn btn-sm btn-primary" role="button">
      <i class="fa fa-file-text"></i>
      Download <span id="number-of-features">0</span> places</a>
    <form class="form-inline">
      <div class="form-group">
	<label></label>
	<select id="map-source" autocomplete=off> {# class="form-control" #}
	  <option value="GEOGRAPHICALGRIDSYSTEMS.MAPS">Cartes IGN</option>
	  <option value="GEOGRAPHICALGRIDSYSTEMS.MAPS.SCAN-EXPRESS.STANDARD">Carte Scan Express</option>
	  <option value="ORTHOIMAGERY.ORTHOPHOTOS">Vue aérienne</option>
	  <option value="TRANSPORTNETWORKS.ROADS">Routes</option>
	  <option value="CADASTRALPARCELS.PARCELS">Parcelles cadastrales</option>
	</select>
      </div>
    </form>
    <p id="mouse-position">{# Position : #}&nbsp;</p>
    <form class="form-inline">
      <div class="form-group">
	<div class="form-group">
	  <label>{# Precision #}</label>
	  <input id="precision" style="width: 3em" type="number" min="0" max="12" value="4" autocomplete=off/>
	</div>
	<label>{# Projection #}</label>
	<select id="projection" autocomplete=off> {# class="form-control" #}
	  <option value="EPSG:4326">WGS 84</option>
	  <option value="EPSG:3857">Mercator</option>
	</select>
      </div>
    </form>
  </div>
{% endmacro %}

{% macro geoportail_map() %}
  <div id="map" class="map">
    <div id="popup"></div>
  </div>
{% endmacro %}

{% macro geoportail_bigmap() %}
  {{ toolbar() }}
  <div id="map" class="bigmap">
  </div>
{% endmacro %}

{% block script %}
  <script type="text/javascript">
   {% if place %}
   var extent = null;
   var place_name = "{{ place.name }}";
   var center = {
       longitude: {{ place.coordinate.longitude }},
       latitude: {{ place.coordinate.latitude }}
   };
   var extent_margin = [1000, 1000]; // m
   {% else %}
   var place_name = null;
   var extent = [{{ extent.x.inf }}, {{ extent.y.inf }},
		 {{ extent.x.sup }}, {{ extent.y.sup }}];
   {% endif %}
   {% block geoportail_script %}
   var show_edit_toolbar = false;
   {% endblock %}
   {% include "include/geoportail_api_key.js" %}
  </script>

  <script type="text/javascript" src={{ url_for('static', filename='js/FileSaver.min.js') }}></script>

  <script type="text/javascript" src={{ url_for('static', filename='data/bleau-places-geoson.js') }}></script>
  <script type="text/javascript" src={{ url_for('static', filename='data/bleau-massifs-geoson.js') }}></script>
  <script type="text/javascript" src={{ url_for('static', filename='data/bleau-circuits-geoson.js') }}></script>
  <script type="text/javascript" src={{ url_for('static', filename='js/geoportail-openlayers.js') }}></script>
{% endblock %}
