*~
__pycache__
#
build/
django-application/BleauDatabaseDjangoApplication/locale/*/LC_MESSAGES/*.mo
django-application/BleauDatabaseDjangoApplication/locale/messages.pot
django-application/BleauDatabaseDjangoApplication/migrations/*.py
share/WebApplication/static/bower_components
share/WebApplication/static/packages/
share/WebApplication/templates/include/geoportail-api-key.js
share/WebApplication/translations/en/LC_MESSAGES/messages.mo
share/WebApplication/translations/messages.pot
#
setenv.sh
tools/rsync-vps.sh
#
Gruntfile.js
README.html
django-application/locale
#
.idea/
BleauDataBase/txt.xml
bin/test-api-tmp.py
bleau-screenshot/
django-application/bleaudb.sql
django-application/run.sh
doc/geo-formats/gml/
doc/geo-formats/kml/12-007r2_OGC_KML_2.3.pdf
doc/xmllint.sh
du.log
fix.sh
html-data/blo/bleaulib.org/
html-data/blo/json/blo-corrected.json
html-data/blo/json/blo-from-merger.json
html-data/blo/json/manquants.txt
html-data/blo/svg/massifs.svg
html-data/blo/svg/script2.js
icons/
notes/
old-readme.rst
patch.diff
pip-local.txt
requirements-other.txt
test/
tools/emacs.el
trash/
