{# -*- engine: jinja2 -*- #}
{% extends "include/base.html" %}
{% from "include/widgets.html" import update_delete_button_group, delete_modal, new_button_group %}

{% block title %} - {{ massif.name }}{% endblock %}

{% block breadcrumb_li %}
  <li><a href="{{ url('massif.index') }}">Massifs</a> </li>
  <li class="active">{{ massif.name }}</li>
{% endblock %}

{% block content %}
  <h1>
    {{ massif.secteur }} ~ {{ massif.name }}
    {{ update_delete_button_group(href=url('massif.update', massif.pk)) }}
  </h1>

  {{ delete_modal(title=_("Delete massif"),
		  body= _("Are you sure you want to delete this massif?"),
		  href=url('massif.delete', massif.pk),
     ) }}

  {% if massif.alternative_name %}
    <p>{{ massif.alternative_name }}</p>
  {% endif %}

  <h2>{{ _("Accés") }}</h2>
  <dl>
    <dt><i class="fa fa-car"></i> {{ _("Accés en voiture") }}</dt>
    <dd>
      <p>{{ massif.acces }}</p>
    </dd>
    <dt><i class="fa fa-bicycle"></i> {{ _("Accés à vélo") }} {# {% if massif.on_foot() %}/ {{ _("à pieds") }}{% endif %} #}</dt>
    <dd>
      <p>{{ massif.velo }}</p>
    </dd>
  </dl>

  <h2>{{ _("Informations") }}</h2>
  <dl>
    <dt>{{ _("Type de chaos") }}</dt><dd>{% if massif.chaos_type %}{{ massif.chaos_type }}{% endif %}</dd>
    <dt>{{ _("Notes") }}</dt><dd>{% if massif.notes %}{{ massif.note }}{% endif %}</dd>
    <dt>{{ _("Rendez-vous Gums") }}</dt><dd>{{ massif.rdv }}</dd>
  </dl>

  <h2>{{ _("Carte de situation") }}</h2>
  <table class="table table-sm">
    <tbody>
      <tr>
	<td>
	  <a href="http://spatialreference.org/ref/epsg/wgs-84/">
	    {{ _("Coordonnée WGS 84") }}
	  </a></td>
	<td>{{ massif.coordinate }}</td>
      </tr>
      {% if massif.parcelles %}
	<tr>
	  <td>{{ _("Parcelles ONF") }}</td>
	  <td>{{ massif.parcelles }}</td>
	</tr>
      {% endif %}
    </tbody>
  </table>

  <h2>{{ _("Circuits") }}
    {{ new_button_group(title=_('New circuit'), href=url('circuit.create')) }}
  </h2>
  <div class="row">
    <div class="col-xl-6">
      <table class="table table-sm">
	<tbody>
	  {% for circuit in massif.circuits %}
	    <tr>
	      <td><a href="{{ url('circuit.details', circuit.pk) }}">{{ circuit.name }}</a></td>
	      <td>{{ circuit.grade }}</td>
	      <td>{{ circuit.colour }}</td>
	    </tr>
	  {% endfor %}
	</tbody>
      </table>
    </div>
  </div>
{% endblock %}
