{# -*- engine: jinja2 -*- #}
{% extends "include/base.html" %}

{% block breadcrumb_li %}
  <li class="active"> Massifs </li>
{% endblock %}

{% block content %}
  <h2>Massifs</h2>

  <form class="form-inline" action="{{ url('massif.index') }}">
    {% csrf_token %}
    <div class="form-group">
      <label for="id_name">Nom</label>
      <input type="search" class="form-control" id="id_name"
	     name="name" placeholder="Name" value="{{ form.name.value() }}">
    </div>
    <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> Rechercher</button>
  </form>
  <br>
  {% if massifs %}
    {% for group in massifs|groupby('first_letter') %}
      <h2>{{ group.grouper|upper }}</h2>
      <ul class="list-unstyled">
	{% for massif in group.list %}
	  <li><a href="{{ url('massif.details', massif.pk) }}">{{ massif.name }}</a></li>
	{% endfor %}
      </ul>
    {% endfor %}
  {% else %}
    <p>Auncun massif</p>
  {% endif %}
{% endblock %}
