{# -*- engine: jinja2 -*- #}
{% extends "include/base.html" %}
{% from "include/widgets.html" import new_button_group, search_by_name %}

{% block breadcrumb_li %}
  <li class="active">{{ _('Massifs') }}</li>
{% endblock %}

{% block content %}
  <h2>{{ _('Massifs') }}
    {{ new_button_group(title=_('New massif'), href=url('massif.create')) }}
  </h2>

  {{ search_by_name(form) }}
  <br>

  {% if massifs %}
    {% for group in massifs|groupby('first_letter') %}
      <h2>{{ group.grouper|upper }}</h2>
      <ul class="list-unstyled">
	{% for massif in group.list %}
	  <li><a href="{{ url('massif.details', massif.pk) }}">{{ massif.name }}</a></li>
	{% endfor %}
      </ul>
    {% endfor %}
  {% else %}
    <p>{{ _('Any massif') }}</p>
  {% endif %}
{% endblock %}
