{# -*- engine: jinja2 -*- #}
{% extends "include/base.html" %}
{% from "include/widgets.html" import update_form %}

{% set circuit = refection.circuit %}
{% set massif = circuit.massif %}

{% block title %} -
  {% if update %}
    {{ _('Update') }} {{ refection.name }}
  {% else %}
    {{ _('New refection') }}
  {% endif %}
{% endblock %}

{% block breadcrumb_li %}
  <li><a href="{{ url('massif.index') }}">Massifs</a></li>
  <li><a href="{{ url('massif.details', massif.pk) }}">{{ massif.name }}</a></li>
  <li><a href="{{ url('massif.details', circuit.pk) }}">{{ circuit.name }}</a></li>
  {% if update %}
    <li class="active">{{ _('Update refection') }} {{ refection.date }}</li>
  {% else %}
    <li class="active">{{ _('New refection') }}</li>
  {% endif %}
{% endblock %}

{% block content %}
  <h2>
    {% if update %}
      {{ _('Update') }} «{{ refection.date }}»
    {% else %}
      {{ _('New refection') }}
    {% endif %}
  </h2>

  {{ update_form(form) }}
{% endblock %}
