{# -*- engine: jinja2 -*- #}
{% extends "include/base.html" %}
{% from "include/widgets.html" import update_delete_button_group, delete_modal %}

{% set circuit = refection.circuit %}
{% set massif = circuit.massif %}

{% block title %} - Réfection {{ circuit.name }} {{ refection.date }}{% endblock %}

{% block breadcrumb_li %}
  <li><a href="{{ url('massif.index') }}">Massifs</a></li>
  <li><a href="{{ url('massif.details', massif.pk) }}">{{ massif.name }}</a></li>
  <li><a href="{{ url('massif.details', circuit.pk) }}">{{ circuit.name }}</a></li>
  <li class="active">Réfection {{ refection.date }}</li>
{% endblock %}

{% block content %}
  <h1>Réfection {{ circuit.name }} {{ refection.date }}
    {{ update_delete_button_group(href=url('refection.update', refection.pk)) }}
  </h1>

  {{ delete_modal(title=_("Delete refection"),
		  body= _("Are you sure you want to delete this refection?"),
		  href=url('refection.delete', refection.pk),
     ) }}

  <dl>
    <dt>Date</dt><dd>{{ refection.date }}</dd>
    <dt>Note</dt><dd>{{ refection.note }}</dd>
    <dt>Personnes
      <a role="button" class="btn btn-sm btn-primary" href="{{ url('refection.persons', circuit.pk) }}">
	<i class="fa fa-pencil-square-o"></i></a>
    </dt>
    <dd>
      {% for person in refection.persons.all() %}
	<a href="{{ url('person.details', person.pk) }}">
	  {{ person.name }}</a>{% if not loop.last %},{% endif %}
      {% endfor %}
    </dd>
  </dl>
{% endblock %}
