{# -*- engine: jinja2 -*- #}
{% extends "include/base.html" %}

{% block breadcrumb_li %}
  <li class="active"> Persons </li>
{% endblock %}

{% block content %}
  <h2>Persons</h2>

  <form class="form-inline" action="{{ url('person.index') }}">
    {% csrf_token %}
    <div class="form-group">
      <label for="id_name">Nom</label>
      <input type="search" class="form-control" id="id_name"
	     name="name" personholder="Name" value="{{ form.name.value() }}">
    </div>
    <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> Rechercher</button>
  </form>
  <br>
  {% if persons %}
    {% for group in persons|groupby('first_letter') %}
      <h2>{{ group.grouper|upper }}</h2>
      <ul class="list-unstyled">
	{% for person in group.list %}
	  <li><a href="{{ url('person.details', person.pk) }}">{{ person.last_first_name }}</a></li>
	{% endfor %}
      </ul>
    {% endfor %}
  {% else %}
    <p>Aucune personne</p>
  {% endif %}
{% endblock %}
