{# -*- engine: jinja2 -*- #}
{% extends "include/base.html" %}
{% from "include/widgets.html" import new_button_group, search_by_name %}

{% block breadcrumb_li %}
  <li class="active">{{ _('Persons') }}</li>
{% endblock %}

{% block content %}
  <h2>{{ _('Persons') }}
    {{ new_button_group(title=_('New person'), href=url('person.create')) }}
  </h2>

  {{ search_by_name(form) }}
  <br>

  {% if persons %}
    {% for group in persons|groupby('first_letter') %}
      <h2>{{ group.grouper|upper }}</h2>
      <ul class="list-unstyled">
	{% for person in group.list %}
	  <li><a href="{{ url('person.details', person.pk) }}">{{ person.last_first_name }}</a></li>
	{% endfor %}
      </ul>
    {% endfor %}
  {% else %}
    <p>{{ _('Any person') }}</p>
  {% endif %}
{% endblock %}
