{# -*- engine: jinja2 -*- #}
{% extends "include/base.html" %}

{% block title %} - Login{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block content %}
  <h2>Connexion</h2>
  <p><a class="btn btn-danger" href="{{ url('account.password_reset') }}" role="button">Mot de passe oublié</a></p>
  {% if form.errors %}
    <div class="alert alert-danger alert-dismissible fade in" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
	<span aria-hidden="true">&times;</span>
      </button>
      <strong>Mauvais username ou mot de passe</strong>
    </div>
  {% endif %}
  <form action="{{ url('account.login') }}" method="post">
    {% csrf_token %}
    {% for field in form.visible_fields() %}
      <div class="form-group row{% if field.errors %} has-error{% endif %}">
	<label class="col-xl-1 form-control-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
	<div class="col-xl-2">
	  {{ field }}
	  {% for error in field.errors %}<span class="help-block">{{ error }}</span>{% endfor %}
	</div>
      </div>
    {% endfor %}
    <div class="form-group row">
      <div class="col-xl-4 col-xl-offset-2">
        <button type="submit" class="btn btn-primary">Login</button>
      </div>
    </div>
  </form>
{% endblock %}
