{# -*- engine: jinja2 -*- #}
{% extends "include/base.html" %}

{% block title %} - {{ _("Password reset complete") }}{% endblock %}

{% block nav_login %}active{% endblock %}

{% block breadcrumb_li %}
  <li><a href="{{ url('account.profile') }}">Profile</a></li>
  <li class="active">{{ _("Password reset complete") }}</li>
{% endblock %}

{% block body %}
  <h1>{{ _("Password reset complete") }}</h1>
  <p>{{ _("Your password has been set.  You may go ahead and log in now.") }}</p>
  <p><a href="{{ login_url }}">{{ _("Log in") }}</a></p>
{% endblock %}
