{# -*- engine: jinja2 -*- #}
{% extends "include/base.html" %}

{% block title %} - {{ _("Password reset successful") }}{% endblock %}

{% block nav_account %}active{% endblock %}

{% block breadcrumb_li %}
  <li><a href="{{ url('accounts.profile') }}">Profile</a></li>
  <li class="active">{{ _("Password reset successful") }}</li>
{% endblock %}

{% block content %}
  <h1>{{ _("Password reset successful") }}</h1>
  <p>{{ _("We've emailed you instructions for setting your password to the email address you submitted. You should be receiving it shortly.") }}</p>
{% endblock %}
