{# -*- engine: jinja2 -*- #}
{% extends "include/base.html" %}

{% block title %} - Profile{% endblock %}

{% block nav_account %}active{% endblock %}

{% block breadcrumb_li %}
  <li class="active">Profile</li>
{% endblock %}

{% block content %}
  <h2>{{ _("Information") }}
    <a class="btn btn-info btn-xs" href="{{ url('accounts.profile.update') }}">
      <i class="fa fa-wrench"></i> {{ _("update") }}</a></h2>
  <div class="container">
    <div class="row">
      <div class="col-xl-6">
	<dl class="dl-horizontal">
          <dt class="col-xl-3">{{ _("Name") }}</dt>
          <dd class="col-xl-9">{{ user.get_full_name() }}</dd>
          <dt class="col-xl-3">{{ _("Email") }}</dt>
          <dd class="col-xl-9">{{ user.email }}</dd>
          <dt class="col-xl-3">{{ _("Password") }}</dt>
          <dd class="col-xl-9"><a href="{{ url('accounts.password_change') }}">
	    <i class="fa fa-lock"></i> {{ _("update") }}</a></dd>
	</dl>
      </div>
      <div class="col-xl-6">
	<dl class="dl-horizontal">
          <dt class="col-xl-3">{{ _("Language") }}</dt>
          <dd class="col-xl-9">
            {% if user.profile.get_language_display() %}
	      {{ _(user.profile.get_language_display()) }}
            {% else %}
	      {{ _("undefined") }}
            {% endif %}
	  </dd>
	</dl>
      </div>
    </div>
  </div>

  <h3>{{ _("Deleting my account") }}</h3>
  <p>
    {{ _("If you want to remove your account, just click on the folowing button.") }}
  </p>
  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteAccountModal">
    {{ _("Deleting my account") }}</button>
  <div class="modal fade" id="deleteAccountModal" tabindex="-1" role="dialog" aria-labelledby="deleteAccountModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
	  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
          <h3 class="modal-title" id="deleteAccountModalLabel">{{ _("Deleting my account") }}</h3>
        </div>
        <div class="modal-body">
          <p>{{ _("Are you sure you want to delete your account?") }}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">{{ _("Cancel") }}</button>
          <a role="button" class="btn btn-danger" href="{{ url('accounts.delete') }}">{{ _("Deleting my account") }}</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
