{# -*- engine: jinja2 -*- #}
{% extends "include/base.html" %}
{% from "include/widgets.html" import update_delete_button_group, delete_modal %}

{% block title %} - {{ place.name }}{% endblock %}

{% block breadcrumb_li %}
  <li><a href="{{ url('place.index') }}">Places</a> </li>
  <li class="active">{{ place.name }}</li>
{% endblock %}

{% block content %}
  <h1>
    {{ place.name }}
    {{ update_delete_button_group(href=url('place.update', place.pk)) }}
  </h1>

  {{ delete_modal(title=_("Delete place"),
		  body= _("Are you sure you want to delete this place?"),
		  href=url('place.delete', place.pk),
     ) }}

  <h2>{{ _("Carte de situation") }}</h2>
  <table class="table table-sm">
    <tbody>
      <tr>
	<td>
	  <a href="http://spatialreference.org/ref/epsg/wgs-84/">
	    {{ _("Coordonnée WGS 84") }}
	  </a></td>
	<td>{{ place.coordinate }}</td>
      </tr>
      <tr>
	<td>{{ _('Note') }}</td>
	<td>{{ place.note }}</td>
      </tr>
  </table>
{% endblock %}
