{# -*- engine: jinja2 -*- #}

{% macro place_list(places, category) %}
  <ul class="list-unstyled">
    {% for place in places -%}
      {%- if place.category == category -%}
	<li><a href="{{ url('place.details', place.pk) }}">{{ place.name }}</a></li>
      {% endif %}
    {%- endfor %}
  </ul>
{% endmacro %}

{% macro person_list(persons, opener=True, maintainer=True) %}
  {% for group in persons|groupby('first_letter') %}
    <h3>{{ group.grouper }}</h3>
    <ul>
      {% for person in group.list -%}
	{%- if (opener and person.opener) or (maintainer and person.maintainer) -%}
	  <li><a href="{{ url("person.details", person.pk) }}">{{ person.last_first_name }}</a></li>
	{% endif %}
      {%- endfor %}
    </ul>
  {% endfor %}
{% endmacro %}

{% macro opener_list(persons) %}
  {{ person_list(persons, opener=True, maintainer=False) }}
{% endmacro %}

{% macro maintainer_list(persons) %}
  {{ person_list(persons, opener=False, maintainer=True) }}
{% endmacro %}

{% macro circuit_openers_as_list(circuit) %}
  <ul class="list-inline">
    {% for person in circuit.openers %}
      <li class="list-inline-item"><a href="{{ url("person.details", person.pk) }}">
	{{ person.name }}</a>{% if not loop.last %},{% endif %}
      </li>
    {% endfor %}
  </ul>
{% endmacro %}

{% macro circuit_openers(circuit) %}
  {% for person in circuit.openers.all() %}
    <a href="{{ url("person.details", person.pk) }}">
      {{ person.name }}</a>{% if not loop.last %},{% endif %}
  {% endfor %}
{% endmacro %}
