{# -*- engine: jinja2 -*- #}

{# {% from "include/widgets.html" import delete_modal %} #}

{% macro new_button_group(title, href) -%}
  <a role="button" class="btn btn-primary" href="{{ href }}">
    <i class="fa fa-plus"></i> {{ title }}</a>
{%- endmacro %}

{% macro search_by_name(form) -%}
  <form class="form-inline" action=".">
    {% csrf_token %}
    <div class="form-group">
      <label for="id_name">{{ _('Name') }}</label>
      <input type="search" class="form-control" id="id_name"
	     name="name" placeholder="{{ _('Name') }}" value="{{ form.name.value() }}">
    </div>
    <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> {{ _('Search') }}</button>
  </form>
{%- endmacro %}

{% macro update_delete_button_group(href, modal_id="deleteModal") -%}
    <div class="btn-group m-b-1" role="group">
      <a role="button" class="btn btn-primary" href="{{ href }}">
	<i class="fa fa-pencil-square-o"></i></a>
      <a role="button" class="btn btn-danger" data-toggle="modal" data-target="#{{ modal_id }}">
	<i class="fa fa-trash"></i></a>
    </div>
{%- endmacro %}

{% macro delete_modal(title, body, href, id="deleteModal") -%}
  <div class="modal fade" id={{ id }} tabindex="-1" role="dialog" aria-labelledby="deleteMassifModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-header">
	  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
          <h3 class="modal-title" id="deleteMassifModalLabel">{{ title }}</h3>
        </div>

        <div class="modal-body">
          <p>{{ body }}</p>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">{{ _("Cancel") }}</button>
          <a role="button" class="btn btn-danger" href="{{ href }}">{{ _("Delete") }}</a>
        </div>

      </div>
    </div>
  </div>
{%- endmacro %}

{% macro update_form(form, csrf_token) -%}
  <form action="." method="post">
    {% csrf_token %}
    {% for field in form.visible_fields() %}
      <div class="form-group row{% if field.errors %} has-danger{% endif %}">
	<label class="col-xl-4 form-control-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
	<div class="col-xl-8">
	  {{ field }}
	  {% for error in field.errors %}<span class="help-block">{{ error }}</span>{% endfor %}
	</div>
      </div>
    {% endfor %}
    <div class="form-group row">
      <div class="col-xl-8 col-xl-offset-4">
        <button type="submit" class="btn btn-primary">
	  {{ _('Save') }}
	</button>
      </div>
    </div>
  </form>
{%- endmacro %}
