{# -*- engine: jinja2 -*- #}
{% extends "include/base.html" %}

{% block breadcrumb_li %}
  <li><a href="/{{ lang_code }}/information">Information</a></li>
  <li class="active">Places</li>
{% endblock %}

{% block content %}
  <p>Cette page liste toutes les « places » de la base de données.</p>
  {% from "include/information-macros.html" import place_list %}
  {% for category in ("parking", "gare", "point d'eau") %}
    <h2>{{ category|capitalize }}</h2> {# ...s, en #}
    {{ place_list(places, category) }}
  {% endfor %}
{% endblock %}
