{# -*- engine: jinja2 -*- #}
{% extends "include/base.html" %}

{% block title %} - {{ _('À propos') }}{% endblock %}

{% block breadcrumb_li %}
  <li class="active">{{ _('À propos') }}</li>
{% endblock %}

{% block content %}
  <div itemscope itemtype="https://schema.org/AboutPage">
    <h2>Colophon</h2>
    <p>
      Ce site présente une compilation de toutes les données disponible
      sur les sites d'escalade de la région de Fontainebleau.
    </p>
    <p>
      La <a href="/{{ lang_code }}/data">base de données</a> répertorie {{ bleau_database.number_of_massifs }} massifs
      et {{ bleau_database.number_of_circuits }} circuits
      dont {{ bleau_database.number_of_circuits_with_topos }} avec topo,
      {{ bleau_database.number_of_boulders }} blocs sont référencés.
    </p>
    <p>Les principales fonctions du site sont les suivantes&nbsp;:</p>
    <ul>
      <li>Le site est « responsive », il s'adapte au format de l'écran que ce soit un smartphone, une tablette ou un ordinateur.</li>
      <li>Liste des massifs et des circuits par secteur</li>
      <li>Recherche de circuits par secteur, cotation, type de chaos, accès, etc.</li>
      <li>Topo des circuits</li>
      <li>Accès des massifs en voiture, à vélo, par le train et à pieds</li>
      <li>Recherche des circuits à proximité et des points d'eau</li>
      <li>Carte de situation et coordonées GPS des massifs et des circuits</li>
      <li>Carte interactive pour créer des points d'intérêts</li>
      <li>Histogrammes des cotations pour les massifs et les circuits</li>
    </ul>
    <h2>Frais de fonctionnement</h2>
    <p>La mise en service de ce site internet requiert le bugdet financier suivant&nbsp;:</p>
    <ul>
      <li>Un <a href="https://www.ovh.com/fr/domaines">nom de domaine</a>, un « .fr » coûte 6,99 € HT / 8,39 € TTC par an;</li>
      <li>Un serveur virtualisé VPS,
	une <a href="https://www.ovh.com/fr/vps/vps-ssd.xml">offre de base</a> coûte 2,99 € HT / 3,59 € TTC par mois,
	une <a href="https://www.ovh.com/fr/vps/vps-cloud.xml">offre professionnelle</a> coûte 15,99 € HT / 19,19 € TTC par mois;</li>
      <li><strong>Soit un bugdet par an de 52 € ou 240 € selon l'offre.</strong></li>
      <li>Auquel il faudrait ajouter les frais de développement et de maintenance.
    </ul>
    <p>
      Un serveur VPS offre une parfaite flexibilité et s'inscrit dans une démarche de
      développement durable.  De plus il est possible de mutualiser les services sur un seul VPS.
    </p>
    <h2>À propos de l'application web</h2>
    <p>
      Cette application web a été écrite à la fin 2015 par
      <a target="_blank" href="http://www.fabrice-salvaire.fr">Fabrice Salvaire <i class="fa fa-home"></i></a>
      <a target="_blank" href="http://blog.fabrice-salvaire.fr"><i class="fa fa-commenting"></i></a>
      <a target="_blank" href="https://github.com/FabriceSalvaire"><i class="fa fa-github"></i></a>.<br>
      Le <a target="_blank" href="https://github.com/Cosiroc/bleau-database">code source</a> est sous licence
      <a target="_blank" href="http://www.gnu.org/licenses/agpl.html">GNU Affero General Public License V3</a>.
    </p>
    <p>Les principales technologies employées sont les suivantes&nbsp;:</p>
    <ul>
      <li><a target="_blank" href="https://www.python.org/">Python 3 Language</a></li>
      <li><a target="_blank" href="http://flask.pocoo.org/">Flask Microframework</a></li>
      <li><a target="_blank" href="http://getbootstrap.com/">Bootstrap V4 Responsive Stylesheet</a></li>
      <li><a target="_blank" href="https://fortawesome.github.io/">Font Awesome Icons</a></li>
      <li><a target="_blank" href="http://openlayers.org/">OpenLayers V3 Web Map Tile Service Framework</a></li>
      <li><a target="_blank" href="http://api.ign.fr/accueil">IGN API Géoportail</a></li>
    </ul>
  </div>
{% endblock %}
