{# -*- engine: jinja2 -*- #}
{% extends "include/base.html" %}

{% block title %} - {{ _('À propos') }}{% endblock %}

{% block breadcrumb_li %}
  <li class="breadcrumb-item active">{{ _('À propos') }}</li>
{% endblock %}

{% block content %}
  <div itemscope itemtype="https://schema.org/AboutPage">
    <h2>Colophon</h2>
    <p>
      L'objectif premier de ce site est de mettre à disposition du publique une base de donnée en
      open data sur les sites d'escalade de Fontainebleau et de les rendre accessible via une
      application web open source et des outils informatiques.
    </p>
    <p>
      La premiére initiative en matière d'open data revient au grimpeur François Louvel qui a fondé
      fin 2012 l'association bleau libre avec d'autres grimpeurs et mis en place un <a href="http://bleaulib.org">wiki</a> sous
      licence creative commons. Bien que le site <a href="http://camptocamp.org">camptocamp.org</a>
      soit devenu une référence en ski de randonnée et en alpinisme, l'open data reste un concept
      marginal pour la falaise et le bloc.
    </p>
    <p>
      Ce site reprend la philosophie du wiki de bleaulib.org tout en apportant une différence au
      niveau de l'architecture informatique.
    </p>
    <p>
      Le topo d'escalade est d'ailleurs un sujet délicat en France où les divisions locales peuvent
      parfois profiter à d'autres qui se soucient guère du fincancement de l'équipement, l'entretien
      et la protection des sites. Le paradigme « Divide ut imperes » s'applique aussi à
      l'escalade. La pratique de l'escalade en France est régie par deux fédérations
      nationales&nbsp;: la FFME et la FFCAM auquel il faut ajouter la section escalade et montagne
      de la FSGT, sans compter les apatrides. Bien que cela contribue à la diversité philosophique
      de la pratique, il ne va sans dire que tout ce monde passe une certaine partie de son temps à
      se quereller ... Il suffit de grimper un peu en extérieur pour avoir une aperçu de la jungle
      du topo. Les équipeurs qui se font concurrence. L'équipeur qui ne fait pas partie du comité
      départementale et qui ne recevra donc pas un sous de la vente du topo de la dite
      fédération. Bref c'est le désarroi en bas des falaise &hellip;
    </p>
    <p>
      La <a href="/{{ lang_code }}/data">base de données</a> répertorie {{ bleau_database.number_of_massifs }} massifs
      et {{ bleau_database.number_of_circuits }} circuits
      dont {{ bleau_database.number_of_circuits_with_topos }} avec <a href="/{{ lang_code }}/topo-note">topo</a>,
      {{ bleau_database.number_of_boulders }} blocs sont référencés. Les données sont essentiellement
      issues du wiki de <a href="http://bleaulib.org">l'association Bleau Libre</a>. Des corrections
      ont été apportées par rapport au wiki, tel que des fautes de saisies dans les noms etc. On
      peut logiquement retrouver une partie de ces données sur d'autres sites pour la simple raison
      qu'ils ont été alimenté par les mêmes personnes.
    </p>
    <p>La procédure de mise à jour de la base de donnée reste une question en suspens, d'autant plus
    qu'il faut impérativement contrôler que les modification respectents les arrêtés de l'ONF, la
    propriété privée, etc.
    </p>
    <h2>Fonctions du site</h2>
    <p>Les principales fonctions du site sont les suivantes&nbsp;:</p>
    <ul>
      <li>Le site est « responsive », il s'adapte au format de l'écran que ce soit un smartphone, une tablette ou un ordinateur.</li>
      <li>Liste des massifs et des circuits par secteur</li>
      <li>Recherche de circuits par secteur, cotation, type de chaos, accès, etc.</li>
      <li>Topo des circuits</li>
      <li>Accès des massifs en voiture, à vélo, par le train et à pieds</li>
      <li>Recherche des circuits à proximité et des points d'eau</li>
      <li>Carte de situation et coordonées GPS des massifs et des circuits</li>
      <li>Carte interactive pour créer des points d'intérêts</li>
      <li>Histogrammes des cotations pour les massifs et les circuits</li>
    </ul>
    {#
    <h2>Frais de fonctionnement</h2>
    <p>La mise en service de ce site internet requiert le bugdet financier suivant&nbsp;:</p>
    <ul>
      <li>Un <a href="https://www.ovh.com/fr/domaines">nom de domaine</a>, un « .fr » coûte 6,99 € HT / 8,39 € TTC par an;</li>
      <li>Un serveur virtualisé VPS,
	une <a href="https://www.ovh.com/fr/vps/vps-ssd.xml">offre de base</a> coûte 2,99 € HT / 3,59 € TTC par mois,
	une <a href="https://www.ovh.com/fr/vps/vps-cloud.xml">offre professionnelle</a> coûte 15,99 € HT / 19,19 € TTC par mois;</li>
      <li><strong>Soit un bugdet par an de 52 € ou 240 € selon l'offre.</strong></li>
      <li>Auquel il faudrait ajouter les frais de développement et de maintenance.
    </ul>
    <p>
      Un serveur VPS offre une parfaite flexibilité et s'inscrit dans une démarche de
      développement durable.  De plus il est possible de mutualiser les services sur un seul VPS.
    </p>
    #}
    <h2>À propos de l'application web</h2>
    <p>
      Cette application web a été écrite à la fin 2015 par
      <a target="_blank" href="http://www.fabrice-salvaire.fr">Fabrice Salvaire <i class="fa fa-home"></i></a>
      <a target="_blank" href="http://blog.fabrice-salvaire.fr"><i class="fa fa-commenting"></i></a>
      <a target="_blank" href="https://github.com/FabriceSalvaire"><i class="fa fa-github"></i></a>.<br>
      Le <a target="_blank" href="https://github.com/bleaudb/bleau-database">code source</a> est sous licence
      <a target="_blank" href="http://www.gnu.org/licenses/agpl.html">GNU Affero General Public License V3</a>.
    </p>
    <p>Les principales technologies employées sont les suivantes&nbsp;:</p>
    <ul>
      <li><a target="_blank" href="https://www.python.org/">Python 3 language</a></li>
      <li><a target="_blank" href="http://flask.pocoo.org/">Flask web micro framework</a></li>
      <li><a target="_blank" href="https://www.djangoproject.com">Django web framework</a></li>
      <li><a target="_blank" href="http://www.django-rest-framework.org">Django REST framework</a></li>
      <li><a target="_blank" href="http://getbootstrap.com/">Bootstrap V4 Responsive Stylesheet</a></li>
      <li><a target="_blank" href="https://fortawesome.github.io/">Font Awesome Icons</a></li>
      <li><a target="_blank" href="http://www.postgresql.org">PostgreSQL object-relational database system</a></li>
      <li><a target="_blank" href="http://postgis.net">PostGIS spatial database extender for PostgreSQL</a></li>
      <li><a target="_blank" href="http://openlayers.org/">OpenLayers V3 Web Map Tile Service Framework</a></li>
      <li><a target="_blank" href="http://api.ign.fr/accueil">IGN API Géoportail</a></li>
      {# <li><a target="_blank" href="http://toblerity.org/rtree">Rtree: Spatial indexing for Python</a></li> #}
    </ul>
  </div>
{% endblock %}
