{# -*- engine: jinja2 -*- #}
<!DOCTYPE html>
{# "{{ LANGUAGE_CODE }}" #}
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <title>Bleau Database - {% block title %}{% endblock %}</title>
  <meta name="description" content="base de données des sites d'escalade de la région de Fontainebleau">
  <meta name="author" content="Fabrice Salvaire">

  <link rel="stylesheet" href={{ url_for('static', filename='css/bootstrap.min.css') }}>
  <link rel="stylesheet" href={{ url_for('static', filename='css/bleau-database.css') }}>
  <style></style>
  {% block head %}{% endblock %}
</head>

{% block nav %}
<nav class="navbar navbar-dark bg-inverse navbar-fixed-top">
  <div class="container">
    <a class="navbar-brand" href="/main">Bleau DB</a>
    <ul class="nav navbar-nav">
      <li class="nav-item active">
	<a class="nav-link" href="/main">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}

{% block body %}
<body>
  {% block body_container %}
  <div class="body">
    <div class="container">
    {% block content %}{% endblock %}

    {% block footer %}
    <hr />
    <footer>
      <p>&copy; Bleau Database 2015 / Fabrice Salvaire /
	<a href="https://github.com/Cosiroc/bleau-database/releases/tag/v0.1 ">v0.1</a>
	<span class="pull-right"><a href="https://github.com/Cosiroc/bleau-database">About</a></span>
      </p>
    </footer>
    {% endblock %}
    </div>
  </div>
  {% endblock %}

  <script type="text/javascript" src={{ url_for('static', filename='js/jquery.min.js') }}></script>
  <script type="text/javascript" src={{ url_for('static', filename='js/tether.min.js') }}></script>
  <script type="text/javascript" src={{ url_for('static', filename='js/bootstrap.min.js') }}></script>
  <script type="text/javascript" src={{ url_for('static', filename='js/piwik.js') }}></script>
  <noscript><p><img src="//stats.fabrice-salvaire.fr/piwik.php?idsite=4" style="border:0;" alt="" /></p></noscript>
  {% block script %}{% endblock %}
</body>
{% endblock %}
</html>
