{# -*- engine: jinja2 -*- #}
<!DOCTYPE html>
{# "{{ LANGUAGE_CODE }}" #}
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <title>Bleau Database - {% block title %}{% endblock %}</title>
  <meta name="description" content="Base de données des sites d'escalade de la région de Fontainebleau">
  <meta name="author" content="Fabrice Salvaire">

  <link rel="stylesheet" href={{ url_for('static', filename='css/bootstrap.min.css') }}>
  <link rel="stylesheet" href={{ url_for('static', filename='css/bleau-database.css') }}>
  <style></style>
  {% block head %}{% endblock %}
</head>

{% block nav %}
  <nav class="navbar navbar-dark bg-inverse navbar-fixed-top">
    <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#CollapsingNavbar1">
      &#9776;
    </button>
    <div class="collapse navbar-toggleable-xs" id="CollapsingNavbar1">
      <div class="container">
	<a class="navbar-brand" href="/main">Bleau DB</a>
	<ul class="nav navbar-nav">
	  <li class="nav-item active">
	    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="/main/search-massifs">Rechercher</a>
	  </li>
	</ul>
      </div>
  </nav>
{% endblock %}

{% block body %}
<body>
  {% block body_container %}
  <div class="body">
    <div class="container">
    {% block content %}{% endblock %}

    {% block footer %}
    <hr />
    <footer>
      <p>&copy; Bleau Database 2015 / Fabrice Salvaire</p>
    </footer>
    {% endblock %}
    </div>
  </div>
  {% endblock %}

  <script type="text/javascript" src={{ url_for('static', filename='js/jquery.min.js') }}></script>
  <script type="text/javascript" src={{ url_for('static', filename='js/tether.min.js') }}></script>
  <script type="text/javascript" src={{ url_for('static', filename='js/bootstrap.min.js') }}></script>
  <script type="text/javascript" src={{ url_for('static', filename='js/piwik.js') }}></script>
  <noscript><p><img src="//stats.fabrice-salvaire.fr/piwik.php?idsite=4" style="border:0;" alt="" /></p></noscript>
  {% block script %}{% endblock %}
</body>
{% endblock %}
</html>
