{# -*- engine: jinja2 -*- #}
{% extends "include/geoportail-base.html" %}

{% block head %}
  {{ super() }}
  {% from "include/bokeh-macros.html" import bokeh_css %}
  {{ bokeh_css() }}
{% endblock %}

{% block script %}
  {{ super() }}
  {% from "include/bokeh-macros.html" import bokeh_js %}
  {{ bokeh_js() }}
  {{ circuit_statistics.global_boulder_grade_barchart.script|safe }}
{% endblock %}

{% block breadcrumb_li %}
  <li>{{ massif.secteur }}</li>
  <li><a href="/{{ lang_code }}/massif/{{ massif.name }}">{{ massif.name }}</a></li>
  <li class="active">Circuit n° {{ circuit.number }} {{ circuit.grade }} {{ circuit.colour }}</li>
{% endblock %}

{% block content %}
  <h1>
    {# {{ massif.secteur }} ~ #}
    <a href="/{{ lang_code }}/massif/{{ massif.name }}">{{ massif.name }}</a>
    ~ Circuit n° {{ circuit.number }} {{ circuit.grade }} {{ circuit.colour }}
  </h1>

  <h2>Informations</h2>
  <dl>
    {#
    <dt>Cotation</dt><dd>{{ circuit.grade }}</dd>
    <dt>Couleur</dt><dd>{{ circuit.colour }}</dd>
    #}
    <dt>Type de chaos</dt>
    <dd>{% if circuit.chaos_type %}{{ massif.chaos_type }}{% endif %}</dd>
    <dt>Gestion</dt>
    <dd>{% if circuit.gestion %}{{ circuit.gestion }}{% endif %}</dd>
    <dt>Status</dt>
    <dd>{% if circuit.status %}{{ circuit.status }}{% endif %}</dd>
    {% from "include/information-macros.html" import circuit_openers %}
    <dt>Ouvreurs</dt>
    <dd>
      {{ circuit_openers(lang_code, circuit) }}
      {% if circuit.opener.affiliation %}
	{{ circuit.opener.affiliation }}
      {% endif %}
    </dd>
    <dt>Année de création</dt>
    <dd>{% if circuit.creation_date %}{{ circuit.creation_date }}{% endif %}</dd>
    <dt>Année de réfection</dt>
    <dd>{% if circuit.refection_date %}{{ circuit.refection_date }}{% endif %}</dd>
    <dt>Note de réfection</dt> {# <i class="fa fa-paint-brush"></i> #}
    <dd>{% if circuit.refection_note %}{{ circuit.refection_note|safe }}{% endif %}</dd>
    <dt>Note</dt>
    <dd>{% if circuit.note %}{{ circuit.note|safe }}{% endif %}</dd>
    <dt>Topos</dt>
    <dd>
      {% for topo in circuit.topos %}
	<i class="fa fa-download">
	<a class="hidden-sm-up" href="{{ topo }}">{{ topo|truncate(25) }}</i></a>
	<a class="hidden-xs-down" href="{{ topo }}">{{ topo }}</a>
	<br>
      {% endfor %}
    </dd>
  </dl>

  <figure>
    {{ circuit_statistics.circuit_grade_barchart.div|safe }}
  </figure>
  <figure>
    {{ circuit_statistics.global_boulder_grade_barchart.div|safe }}
  </figure>

  <h2>Blocs</h2>
  <table class="table table-sm">
    <tbody>
      {% if circuit.boulders %}
	{% for boulder in circuit.boulders %}
	  <tr>
	    <td>{{ boulder.number }}</td> {# N° #}
	    <td>{{ boulder.grade }}</td>
	    <td>{{ boulder.name }}</td>
	    <td>{{ boulder.comment }}</td>
	  </tr>
	{% endfor %}
      {% endif %}
    </tbody>
  </table>

  {{ place_map() }}
{% endblock %}
