{# -*- engine: jinja2 -*- #}
{% extends "include/geoportail-base.html" %}

{% block head %}
  {{ super() }}
  <link href="http://cdn.pydata.org/bokeh/release/bokeh-0.10.0.min.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block script %}
  {{ super() }}
  <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.10.0.min.js"></script>
  {{ circuit_statistics.global_boulder_grade_barchart.script|safe }}
{% endblock %}

{% block breadcrumb_li %}
  <li>{{ massif.secteur }}</li>
  <li><a href="/{{ lang_code }}/massif/{{ massif.name }}">{{ massif.name }}</a></li>
  <li class="active">Circuit n° {{ circuit.number }} {{ circuit.grade }} {{ circuit.colour }}</li>
{% endblock %}

{% block content %}
  <h1>
    {# {{ massif.secteur }} ~ #}
    <a href="/{{ lang_code }}/massif/{{ massif.name }}">{{ massif.name }}</a>
    ~ Circuit n° {{ circuit.number }} {{ circuit.grade }} {{ circuit.colour }}
  </h1>

  <h2>Informations</h2>
  <dl>
    {#
    <dt>Cotation</dt><dd>{{ circuit.grade }}</dd>
    <dt>Couleur</dt><dd>{{ circuit.colour }}</dd>
    #}
    <dt>Type de chaos</dt><dd>{{ massif.chaos_type }}</dd>
    <dt>Gestion</dt><dd>{{ circuit.gestion }}</dd>
    <dt>Status</dt><dd>{{ circuit.status }}</dd>
    <dt>Année de création</dt><dd>{{ circuit.creation_date }}</dd>
    <dt>Année de réfection</dt><dd>{{ circuit.refection_date }}</dd>
  </dl>

  <figure>
    {{ circuit_statistics.circuit_grade_barchart.div|safe }}
  </figure>
  <figure>
    {{ circuit_statistics.global_boulder_grade_barchart.div|safe }}
  </figure>

  <h2>Blocs</h2>
  <table class="table table-sm">
    <tbody>
      {% if circuit.boulders %}
	{% for boulder in circuit.boulders %}
	  <tr>
	    <td>{{ boulder.number }}</td> {# N° #}
	    <td>{{ boulder.grade }}</td>
	    <td>{{ boulder.name }}</td>
	    <td>{{ boulder.comment }}</td>
	  </tr>
	{% endfor %}
      {% endif %}
    </tbody>
  </table>

  {{ place_map() }}
{% endblock %}
