{# -*- engine: jinja2 -*- #}
{% extends "base.html" %}

{% block head %}
  <link rel="stylesheet" href="http://openlayers.org/en/v3.10.1/css/ol.css" type="text/css">
  <style>
   .map {
       width: 100%;
       height: 500px;
   }
   .bigmap {
       display: block;
       position: fixed;
       left: 0;
       right: 0;
       top: 0;
       bottom: 0;
       width: 100%;
       height: 100%;
   }
  </style>
  <script type="text/javascript" src="http://openlayers.org/en/v3.10.1/build/ol.js"></script>
{% endblock %}

{% macro geoportail_map() %}
  <div id="map" class="map">
    <div id="popup"></div>
  </div>
{% endmacro %}

{% macro geoportail_bigmap() %}
  <div id="map" class="bigmap">
    <div id="popup"></div>
  </div>
{% endmacro %}

{% block script %}
  <script type="text/javascript">
   var massif_name = "{{ massif.massif }}";
   var center = {
       longitude: {{ massif.coordonne.longitude }},
       latitude: {{ massif.coordonne.latitude }}
   };
  {% include "geoportail_api_key.js" %}
  </script>
  <script type="text/javascript" src={{ url_for('static', filename='data/bleau-massifs-geo.json') }}></script>
  <script type="text/javascript" src={{ url_for('static', filename='js/geoportail-openlayers.js') }}></script>
{% endblock %}
