{# -*- engine: jinja2 -*- #}
{% extends "include/base.html" %}

{% block content %}
  <div class="row">
    <div class="col-xl-12">
      {# Small device #}
      <div class="jumbotron hidden-sm-up">
	<h1 class="display-1"><i class="fa fa-mobile"></i> Bleau Database</h1>
      </div>
      {# Large device #}
      <div class="jumbotron hidden-xs-down">
	<h1 class="display-3">Bleau Database</h1>
	<p class="lead">La base de données des sites d'escalade de la région de Fontainebleau</p>
	<p class="lead">{{ bleau_database.number_of_massifs }} massifs
	  et {{ bleau_database.number_of_circuits }} circuits
	  dont {{ bleau_database.number_of_circuits_with_topos }} avec topo
	  ({{ bleau_database.number_of_boulders }} blocs référencés)
	</p>
	<p class="lead">
	  <i class="fa fa-mobile fa-2x"></i> La 3G passe assez mal en forêt, pensez-y !</i>
	</p>
	<hr class="m-y-md">
	<p class="lead">
	  <a class="btn btn-primary btn-lg" href="/main/a-propos" role="button">À propos</a>
	</p>
      </div>
      
      {# Small device #}
      <div class="hidden-sm-up">
	<p>
	  <a class="btn btn-primary btn-lg btn-block" href="/main/search-massifs" role="button">
	    <i class="fa fa-search"></i> Rechercher des Massifs</a>
	  <a class="btn btn-primary btn-lg btn-block" href="/main/massifs" role="button">
	    Tous les Massifs</a>
	  <a class="btn btn-primary btn-lg btn-block" href="/main/massifs-par-secteur" role="button">
	    Massifs par Secteur</a>
	</p>
	<p>
	  <a class="btn btn-primary btn-lg btn-block" href="/main/geoportail" role="button">
	    <i class="fa fa-map"></i> Carte de la region</a>
	  <a class="btn btn-primary btn-lg btn-block" href="/main/statistics" role="button">
	    <i class="fa fa-bar-chart"></i> Statistiques des Circuits</a>
	</p>
	<p>
	  <a class="btn btn-primary btn-lg btn-block" href="/main/fontainebleau" role="button">
	    <i class="fa fa-info-circle"></i> Fontainebleau</a>
	  <a class="btn btn-primary btn-lg btn-block"  href="/main/environment" role="button">
	    <i class="fa fa-tree"></i> Respectons l'environement</a>
	  <a class="btn btn-primary btn-lg btn-block" href="/main/a-propos" role="button">
	    À propos</a>
	  <a class="btn btn-primary btn-lg btn-block" href="/main/contribute" role="button">
	    <i class="fa fa-bug"></i> Contribuer</a>
	  <a class="btn btn-primary btn-lg btn-block" href="/main/data" role="button">
	    <i class="fa fa-database"></i> Données</a>
	</p>
      </div>
      {# Large device #}
      <div class="hidden-xs-down">
	<p>
	  <a class="btn btn-primary btn-lg m-b-1" href="/main/search-massifs" role="button">
	    <i class="fa fa-search"></i> Rechercher des Massifs</a>
	  <a class="btn btn-primary btn-lg m-b-1" href="/main/massifs" role="button">
	    Tous les Massifs</a>
	  <a class="btn btn-primary btn-lg m-b-1" href="/main/massifs-par-secteur" role="button">
	    Massifs par Secteur</a>
	  <br>
	  <a class="btn btn-primary btn-lg m-b-1" href="/main/geoportail" role="button">
	    <i class="fa fa-map"></i> Carte de la region</a>
	  <a class="btn btn-primary btn-lg m-b-1" href="/main/statistics" role="button">
	    <i class="fa fa-bar-chart"></i> Statistiques des Circuits</a>
	  <br>
	  <a class="btn btn-primary btn-lg m-b-1" href="/main/fontainebleau" role="button">
	    <i class="fa fa-info-circle"></i> Fontainebleau</a>
	  <a class="btn btn-primary btn-lg m-b-1"  href="/main/environment" role="button">
	    <i class="fa fa-tree"></i> Respectons l'environement</a>
	  <br>
	  <a class="btn btn-primary btn-lg m-b-1"  href="/main/contribute" role="button">
	    <i class="fa fa-bug"></i> Contribuer</a>
	  <a class="btn btn-primary btn-lg m-b-1" href="/main/data" role="button">
	    <i class="fa fa-database"></i> Données</a>
	</p>
      </div>
    </div>
  </div>
{% endblock %}
