{# -*- engine: jinja2 -*- #}
{% extends "geoportail-base.html" %}
{% block content %}
  <ul class="breadcrumb">
    <li><a href="/main">Accueil</a></li>
    <li class="active">{{ massif.massif }}</li>
  </ul>

  <div class="row">
    <div class="col-xl-12">

      <h1>{{ massif.secteur }} ~ {{ massif.massif }} {% if massif.nom %} ~ {{ massif.nom }}{% endif %}</h1>

      <h2>Accés</h2>
      <dl>
	<dt>Accés en voiture</dt>
	<dd>
	  {{ massif.acces }}<br>
	  {% if massif.parking %}
	  <a href="/main/google-map/{{ massif.massif }}">Itineraire Google Map</a>
	  {% else %}
	  Pas d'itineraire renseigné
	  {% endif %}
	</dd>
        <dt>Accés à vélo {% if massif.a_pieds %}/ à pieds{% endif %}</dt>
	<dd>{{ massif.velo }}</dd>
      </dl>
      
      <h2>Informations</h2>
      <dl>
        <dt>Rendez-vous Gums</dt><dd>{{ massif.rdv }}</dd>
        <dt>Point d'eau</dt><dd>{{ massif.point_deau }}</dd>
        <dt>Notes</dt><dd>{{ massif.notes }}</dd>
	<dt>Type de chaos</dt><dd>{{ massif.type_de_chaos }}</dd>
      </dl>
      
      <h2>Circuits</h2>
      <table class="table table-sm">
	<col style="width:5%">
	<col style="width:5%">
	<col style="width:10%">
	<col style="width:80%">
	<tbody>
	  {% for circuit in massif %}
	    <tr>
	      <td>{{ circuit.cotation }}</td>
	      <td>N° {{ circuit.numero }}</td>
	      <td>{{ circuit.couleur }}</td>
	      <td>
		{% for topo in circuit.topos %}
		  <a href="{{ topo }}">{{ topo|truncate(70) }}</a><br>
		{% endfor %}
	      </td>
	    </tr>
	  {% endfor %}
	</tbody>
      </table>
      
      <h2>Massifs à proximité</h2>
      <div class="alert alert-info" role="alert">
	critère: 2 km à vol d'oiseau, donc prévoir plus long!
      </div>
      {% with massif_voisins = massif.nearest(number_of_items=100, distance_max=2000) %}
	{% if massif_voisins %}
	  <table class="table table-sm">
	    <col style="width:10%">
	    <tbody>
	      {% for massif_ in massif_voisins %}
		<tr>
		  <td class="text-right">{{ massif.distance_to(massif_) | round | int }} m</td>
		  <td/>
		  <td><a href="/main/massif/{{ massif_.massif }}">{{ massif_.massif }}</a></td>
		  <td>
		    <ul class="list-inline">
		      {% for cotation in massif_.cotations %}
			<li>{{ cotation }}</li>
		      {% endfor %}
		    </ul>
		  </td>
		</tr>
	      {% endfor %}
	    </tbody>
	  </table>
	{% else %}
	  <p>aucun</p>
	{% endif %}
      {% endwith %}
      
      <h2>Carte de situation</h2>
      <div class="row">
	<div class="col-xl-6">
	  <dl class="dl-horizontal">
	    <dt class="col-xl-4">Coordonnée WGS 84</dt>
	    <dd class="col-xl-8">longitude, latitude =</dd>
	    <dt class="col-xl-4">(<a href="http://spatialreference.org/ref/epsg/wgs-84/">EPSG:4326</a>)</dt>
	    <dd class="col-xl-8">{{ massif.coordonne }} °</dd>
	    <dt class="col-xl-4">Coordonnée Mercator</dt>
	    {% with mercator = massif.coordonne.mercator %}
            <dd class="col-xl-8">({{ mercator[0] | round | int }}, {{ mercator[1] | round | int }}) m</dd>
	    {% endwith %}
	    <dt class="col-xl-4">
	      (<a href="http://spatialreference.org/ref/sr-org/epsg3857-wgs84-web-mercator-auxiliary-sphere/">EPSG:3857</a>)
	    </dt>
	    <dd class="col-xl-8"><br></dd>
            <dt class="col-xl-4">Parcelles ONF</dt>
	    <dd class="col-xl-8">{{ massif.parcelles }}</dd>
	  </dl>
	</div>
	<div class="col-xl-6">
	  <form>
	    <label>Projection</label>
	    <select id="projection">
	      <option value="EPSG:4326">EPSG:4326</option>
	      <option value="EPSG:3857">EPSG:3857</option>
	    </select>
	    <label>Precision</label>
	    <input id="precision" type="number" min="0" max="12" value="4"/>
	  </form>
	  <p id="mouse-position">Position : &nbsp;</p>
	</div>
      </div>
      <a href="/main/geoportail/{{ massif.massif }}">Grande carte</a>
      {{ geoportail_map() }}
    </div>
  </div>
{% endblock %}
