{# -*- engine: jinja2 -*- #}
{% extends "include/base.html" %}

{% block content %}
    <ul class="breadcrumb">
    <li><a href="/main">Accueil</a></li>
    <li class="active"> Massifs par Secteurs </li>
  </ul>

  <div class="row">
    <div class="col-xl-12">
      {% for secteur in bleau_database.secteurs %}
	<h2>{{ secteur }}</h2>
	<ul>
	  {% for massif in bleau_database.filter_by(secteurs=secteur) %}
	    <li><a href="/main/massif/{{ massif.name }}">{{ massif.name }}</a></li>
	  {% endfor %}
	</ul>
      {% endfor %}
    </div>
  </div>
{% endblock %}
