{# -*- engine: jinja2 -*- #}
{% extends "include/base.html" %}

{% block title %} - {{ _('Massifs par Secteurs') }}{% endblock %}

{% block breadcrumb_li %}
  <li class="active">{{ _('Massifs par Secteurs') }}</li>
{% endblock %}

{% block content %}
  {% for secteur in bleau_database.secteurs %}
    <h2>{{ secteur }}</h2>
    <ul>
      {% for massif in bleau_database.filter_by(secteurs=secteur) %}
	<li><a href="/{{ lang_code }}/massif/{{ massif.name }}">{{ massif.name }}</a></li>
      {% endfor %}
    </ul>
  {% endfor %}
{% endblock %}
