{# -*- engine: jinja2 -*- #}
{% extends "base.html" %}
{% block body %}
  <ul class="breadcrumb">
    <li><a href="/main">Accueil</a></li>
    <li class="active">{{ massif.massif }}</li>
  </ul>

  <div class="row">
    <div class="col-xl-12">
      <h2>{{ massif.massif }}</h2>
      <dl>
	<dt>Nom / Massif</dt><dd>{{ massif.nom_or_massif }}</dd>
        <dt>Massif</dt><dd>{{ massif.massif }}</dd>
        <dt>Nom</dt><dd>{{ massif.nom }}</dd>
        <dt>Secteur</dt><dd>{{ massif.secteur }}</dd>
      </dl>
      <h3>Accés</h3>
      <dl>
	<dt>Accés en voiture</dt>
	<dd>
	  {{ massif.acces }}
	  <a href="{{ massif.itineraire }}">Itineraire Google Map</a>
	</dd>
        <dt>Accés à vélo {% if massif.a_pieds %}/ à pieds{% endif %}</dt>
	<dd>{{ massif.velo }}</dd>
      </dl>
      <h3>Informations</h3>
      <dl>
	<dt>Coordonnée WGS 84 (<a href="http://spatialreference.org/ref/epsg/wgs-84/">EPSG:4326</a>)</dt>
	<dd>{{ massif.coordonne }}</dd>
	<dt>Coordonnée Mercator (<a href="http://spatialreference.org/ref/epsg/.../">EPSG:</a>)</dt>
	{% with mercator = massif.coordonne.mercator %}
	  <dd>({{ mercator[0] | round | int }}, {{ mercator[1] | round | int }}) m</dd>
	{% endwith %}
        <dt>Parcelles ONF</dt><dd>{{ massif.parcelles }}</dd>
        <dt>Rendez-vous Gums</dt><dd>{{ massif.rdv }}</dd>
        <dt>Point d'eau</dt><dd>{{ massif.point_deau }}</dd>
        <dt>Notes</dt><dd>{{ massif.notes }}</dd>
	<dt>Type de chaos</dt><dd>{{ massif.type_de_chaos }}</dd>
      </dl>
      <h3>Circuits</h3>
      <ul>
	{% for circuit in massif %}
	  <li>{{ circuit.cotation }} N° {{ circuit.numero }} {{ circuit.couleur }}
	    {% for topo in circuit.topos %}
	      <a href="{{ topo }}">{{ topo }}</a>
	    {% endfor %}
	  </li>
	{% endfor %}
      </ul>
      <h3>Massifs à proximité</h3>
      critère: 2 km à vol d'oiseau, donc plus long par route!
      <ul>
	{% with massif_voisins = massif.nearest(number_of_items=100, distance_max=2000) %}
	  {% for massif_ in massif_voisins %}
	    <li>
	      {{ massif.distance_to(massif_) | round | int }} m
	      <a href="/main/massif/{{ massif_.massif }}">{{ massif_.massif }}</a>
	      {% for circuit in massif_ %}
		{{ circuit.cotation }}
	      {% endfor %}
	    </li>
	  {% endfor %}
	  {% if not massif_voisins %}
	    aucun
	  {% endif %}
	{% endwith %}
      </ul>
    </div>
  </div>
{% endblock %}
