{# -*- engine: jinja2 -*- #}
{% extends "include/geoportail-base.html" %}

{% block title %} - {{ massif.secteur }} ~ {{ massif.name }}{% endblock %}

{% block head %}
  {{ super() }}
  {% from "include/bokeh-macros.html" import bokeh_css %}
  {{ bokeh_css() }}
{% endblock %}

{% block script %}
  {{ super() }}
  {% from "include/bokeh-macros.html" import bokeh_js %}
  {{ bokeh_js() }}
  {# {{ circuit_statistics.circuit_grade_barchart.script|safe }} #}
  {{ circuit_statistics.global_boulder_grade_barchart.script|safe }}
{% endblock %}

{% block breadcrumb_li %}
  <li>{{ massif.secteur }}</li>
  <li class="active">{{ massif.name }}</li>
{% endblock %}

{% block content %}
  <h1>
    {{ massif.secteur }} ~ {{ massif.name }}
    {% if massif.alternative_name %} ~ {{ massif.alternative_name }}{% endif %}
  </h1>

  <h2>{{ _("Accés") }}</h2>
  <dl>
    <dt><i class="fa fa-car"></i> {{ _("Accés en voiture") }}</dt>
    <dd>
      <p>{{ massif.acces }}</p>
      {% with places = massif.nearest_parking() %}
	{% if places %}
	  {{ _("Parkings les plus proches&nbsp;:") }}
	  <ul>
	    {% for place in places %}
	      <li><a href="/{{ lang_code }}/place/{{ place.name }}">
		{{ place.name }} ({{ massif.distance_to(place) | round | int }}&nbsp;m)
	      </a></li>
	    {% endfor %}
	  </ul>
	{% endif %}
      {% endwith %}
      {#
      {% if massif.parking %}
	<a href="/{{ lang_code }}/google-map/{{ massif.name }}">{{ _("Itineraire Google Map") }}</a>
      {% else %}
	{{ _("Pas d'itineraire renseigné") }}
      {% endif %}
      #}
    </dd>
    <dt><i class="fa fa-bicycle"></i> {{ _("Accés à vélo") }} {% if massif.on_foot() %}/ {{ _("à pieds") }}{% endif %}</dt>
    <dd>
      <p>{{ massif.velo }}</p>
      {% with places = massif.nearest_gare() %}
	{% if places %}
	  <i class="fa fa-train"></i> {{ _("Gares les plus proches&nbsp;:") }}
	  <ul>
	    {% for place in places %}
	      <li><a href="/{{ lang_code }}/place/{{ place.name }}">
		{{ place.name }} ({{ massif.distance_to(place) | round | int }}&nbsp;m)
	      </a></li>
	    {% endfor %}
	  </ul>
	{% endif %}
      {% endwith %}
    </dd>
  </dl>

  <h2>{{ _("Informations") }}</h2>
  <dl>
    <dt>{{ _("Type de chaos") }}</dt><dd>{% if massif.chaos_type %}{{ massif.chaos_type }}{% endif %}</dd>
    <dt>{{ _("Notes") }}</dt><dd>{% if massif.notes %}{{ massif.note }}{% endif %}</dd>
    <dt>{{ _("Rendez-vous Gums") }}</dt><dd>{{ massif.rdv }}</dd>
    {% with places = massif.nearest_point_deau() %}
      {% if places %}
	<dt>{{ _("Point d'eau") }}</dt>
	<dd>
	  <ul>
	    {% for place in places %}
	      <li><a href="/{{ lang_code }}/place/{{ place.name }}">
		{{ place.name }} ({{ massif.distance_to(place) | round | int }} m)
	      </a></li>
	    {% endfor %}
	  </ul>
	</dd>
      {% endif %}
    {% endwith %}
  </dl>

  <h2>{{ _("Circuits") }}</h2>
  <table class="table table-sm">
    {#
    <col style="width: 5%">
    <col style="width: 5%">
    <col style="width: 10%">
    <col style="width: 80%">
    #}
    <tbody>
      {% for circuit in massif %}
	<tr>
	  <td>{{ circuit.grade }}</td>
	  <td><a href="/{{ lang_code }}/circuit/{{ circuit.name }}">{{  _("N°") }} {{ circuit.number }}</a></td>
	  <td>{{ circuit.colour }}</td>
	  <td>#{{ circuit.number_of_boulders }}</td>
	  <td>
	    {% for topo in circuit.topos %}
	      <a class="hidden-sm-up" href="{{ topo }}"><i class="fa fa-download"></i></a>
	      <a class="hidden-xs-down" href="{{ topo }}">{{ topo|truncate(70) }}</a>
	      <br>
	    {% endfor %}
	  </td>
	</tr>
      {% endfor %}
    </tbody>
  </table>

  <figure>
    {# {{ circuit_statistics.circuit_grade_barchart.div|safe }} #}
    {{ circuit_statistics.global_boulder_grade_barchart.div|safe }}
  </figure>

  <h2>{{ _("Massifs à proximité") }}</h2>
  <div class="alert alert-info" role="alert">
    {{ _("critère: 2 km à vol d'oiseau, donc prévoir plus long!") }}
  </div>
  {% with massif_voisins = massif.nearest(number_of_items=100, distance_max=2000) %}
    {% if massif_voisins %}
      <table class="table table-sm">
	{# <col style="width:10%"> #}
	<tbody>
	  {% for massif_ in massif_voisins %}
	    <tr>
	      <td class="text-right">{{ massif.distance_to(massif_) | round | int }}&nbsp;m</td>
	      <td><a href="/{{ lang_code }}/massif/{{ massif_.name }}">{{ massif_.name }}</a></td>
	      <td>
		<ul class="list-inline">
		  {% for grade in massif_.grades %}
		    <li class="list-inline-item">{{ grade }}</li>
		  {% endfor %}
		</ul>
	      </td>
	    </tr>
	  {% endfor %}
	</tbody>
      </table>
    {% else %}
      <p>{{ _("aucun") }}</p>
    {% endif %}
  {% endwith %}

  {{ place_map() }}
{% endblock %}
