{# -*- engine: jinja2 -*- #}
{% extends "include/base.html" %}

{% block title %} - {{ _("Rechercher des Massifs") }}{% endblock %}

{% block breadcrumb_li %}
  <li class="active">{{ _("Rechercher des Massifs") }}</li>
{% endblock %}

{% block content %}
  <div>
    {% from "include/form-helpers.html" import render_field %}
    <form method="post" action="/{{ lang_code }}/search-massifs"> {# class="form-inline" #}
      {{ form.csrf_token }}
      <div class="row">
	<div class="col-xl-4">
	  {{ render_field(form.secteurs, size=5) }} {# Fixme size #}
	</div>
	<div class="col-xl-2">
	  {{ render_field(form.grades, size=7) }}
	</div>
	<div class="col-xl-2">
	  {{ render_field(form.chaos_type, size=5) }}
	</div>
      </div>
      {# {{ render_field(form.on_foot) }} #}
      <div class="checkbox">
	<label for="{{ form.on_foot.name }}">
	  <input type="checkbox" id="{{ form.on_foot.id }}" name="{{ form.on_foot.name }}" {% if form.on_foot.data %}checked=""{% endif %}>
	  {{ form.on_foot.label }}
	</label>
      </div>
      <button type="submit" class="btn btn-primary">{{ _("Rechercher") }}</button>
    </form>
  </div>

  <div style="margin-top: 1em">
    <h2>{{ _("Massifs") }}</h2>
    <table class="table table-sm">
      <tbody>
	{% for massif in massifs %}
	  <tr>
	    <td><a href="/{{ lang_code }}/massif/{{ massif.name }}">{{ massif.name }}</a></td>
	    <td>{{ massif.secteur }}</td>
	    <td>{% if massif.chaos_type %}{{ massif.chaos_type }}{% endif %}</td>
	    <td>
	      <ul class="list-inline">
		{% for grade in massif.grades %}
		  <li class="list-inline-item">{{ grade }}</li>
		{% endfor %}
	      </ul>
	    </td>
	  </tr>
	{% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
