{# -*- engine: jinja2 -*- #}
{% extends "include/base.html" %}

{% set circuit_grades = ('PD', 'AD', 'D', 'TD', 'ED') %}

{% block script %}
  {{ super() }}
  <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.10.0.min.js"></script>
  {{ circuit_statistics.circuit_grade_barchart.script|safe }}
  {{ circuit_statistics.global_boulder_grade_barchart.script|safe }}
  {% for grade in circuit_grades %}
    {{ circuit_statistics.boulder_grade_barchart(grade).script|safe }}
  {% endfor %}
{% endblock %}

{% block breadcrumb_li %}
  <li class="active">Statistiques sur les Circuits</li>
{% endblock %}

{% block content %}
  <h2>Statistiques sur tous les circuits</h2>
  <figure>
    {{ circuit_statistics.circuit_grade_barchart.div|safe }}
  </figure>
  <figure>
    {{ circuit_statistics.global_boulder_grade_barchart.div|safe }}
  </figure>
  <h2>Statistiques sur tous les difficultés des circuits</h2>
  {% for grade in circuit_grades %}
    <figure>
      {{ circuit_statistics.boulder_grade_barchart(grade).div|safe }}
    </figure>
  {% endfor %}
{% endblock %}
