{# -*- engine: jinja2 -*- #}
{% extends "include/base.html" %}

{% block breadcrumb %}
{% endblock %}

{% block content %}
  <header role="banner">
    {# Small device #}
    {#
    <div class="jumbotron hidden-sm-up" style="padding: 1rem 1rem">
    </div>
    #}
    {# Large device #}
    <div class="jumbotron hidden-xs-down" style="padding: 1rem 1rem">
      <h1 class="display-3">
	<img src="{{ static('image/favicon.png') }}">
	Bleau Database Administration
      </h1>
    </div>
  </header>

  {% if user.is_authenticated() %}
    {# Large device #}
    <div class="hidden-xs-down">
      <p>
	<a class="btn btn-primary btn-lg m-b-1" href="{{ url('massifs.index') }}" role="button">
	  Massifs</a>
	<a class="btn btn-primary btn-lg m-b-1" href="{{ url('places.index') }}" role="button">
	  Places</a>
	<a class="btn btn-primary btn-lg m-b-1" href="{{ url('persons.index') }}" role="button">
	  Personnes</a>
      </p>
    </div>
  {% else %}
    <a class="btn btn-primary btn-lg m-b-1" href="{{ url('accounts.login') }}" role="button">
      <i class="fa fa-sign-in"></i> Connexion</a></li>
  {% endif %}
    <p>
    <a class="btn btn-primary btn-lg m-b-1" href="{{ url('about') }}" role="button">
      À propos</a>
    <a class="btn btn-primary btn-lg m-b-1" href="/api" role="button">
      REST API</a>
    <a class="btn btn-primary btn-lg m-b-1" href="/api-docs" role="button">
      REST API Doc</a>
    </p>
{% endblock %}
