{# -*- engine: jinja2 -*- #}
{% extends "include/base.html" %}

{% block breadcrumb %}
{% endblock %}

{% block content %}
  <header role="banner">
    {# Small device #}
    {#
    <div class="jumbotron hidden-sm-up" style="padding: 1rem 1rem">
    </div>
    #}
    {# Large device #}
    <div class="jumbotron hidden-xs-down" style="padding: 1rem 1rem">
      <h1 class="display-3">
	<img src="{{ static('image/favicon.png') }}">
	Bleau Database Administration
      </h1>
    </div>
  </header>

  {# Large device #}
  <div class="hidden-xs-down">
    <p>
      <a class="btn btn-primary btn-lg m-b-1" href="/massifs" role="button">
	Massifs</a>
      <a class="btn btn-primary btn-lg m-b-1" href="/places" role="button">
	Places</a>
    </p>
  </div>
{% endblock %}
