{# -*- engine: jinja2 -*- #}
{% extends "include/base.html" %}
{% from "include/widgets.html" import update_form %}

{% block title %} -
  {% if update %}
    {{ _('Update') }} {{ circuit.name }}
  {% else %}
    {{ _('New circuit') }}
  {% endif %}
{% endblock %}

{% block breadcrumb_li %}
  {% if update %}
    <li><a href="{{ url('massif.details', circuit.massif.pk) }}">{{ circuit.massif.name }}</a></li>
    <li><a href="{{ url('circuit.details', circuit.pk) }}">{{ circuit.name }}</a></li>
    <li class="active">{{ _('Update') }}</li>
  {% else %}
    <li class="active">{{ _('New circuit') }}</li>
  {% endif %}
{% endblock %}

{% block content %}
  <h2>
    {% if update %}
      {{ _('Update') }} «{{ circuit.name }}»
    {% else %}
      {{ _('New circuit') }}
    {% endif %}
  </h2>

  {{ update_form(form, csrf_token) }}
{% endblock %}
