{# -*- engine: jinja2 -*- #}
{% extends "include/base.html" %}
{% from "include/widgets.html" import update_delete_button_group, delete_modal %}

{% block title %} - {{ circuit.full_name }} {% endblock %}

{% block breadcrumb_li %}
  <li><a href="{{ url('massif.index') }}">Massifs</a></li>
  <li><a href="{{ url('massif.details', circuit.massif.pk) }}">{{ circuit.massif.name }}</a></li>
  <li class="active">{{ circuit.name }}</li>
{% endblock %}

{% block content %}
  <h1>
    {{ circuit.full_name }}
    {{ update_delete_button_group(href=url('circuit.update', circuit.pk)) }}
  </h1>

  {{ delete_modal(title=_("Delete circuit"),
		  body= _("Are you sure you want to delete this circuit?"),
		  href=url('circuit.delete', circuit.pk),
     ) }}

  <h2>Informations</h2>
  <dl>
    <dt>Cotation</dt><dd>{{ circuit.grade }}</dd>
    <dt>Couleur</dt><dd>{{ circuit.colour }}</dd>
    <dt>Type de chaos</dt>
    <dd>{% if circuit.chaos_type %}{{ massif.chaos_type }}{% endif %}</dd>
    <dt>Gestion</dt>
    <dd>{% if circuit.gestion %}{{ circuit.gestion }}{% endif %}</dd>
    <dt>Status</dt>
    <dd>{% if circuit.status %}{{ circuit.status }}{% endif %}</dd>
    <dt>Année de création</dt>
    <dd>{% if circuit.creation_date %}{{ circuit.creation_date }}{% endif %}</dd>
    <dt>Ouvreurs
      <a role="button" class="btn btn-sm btn-primary" href="{{ url('circuit.openers', circuit.pk) }}">
	<i class="fa fa-pencil-square-o"></i></a>
    </dt>
    <dd>
      {% for person in circuit.openers.all() %}
	<a href="{{ url('person.details', person.pk) }}">
	  {{ person.name }}</a>{% if not loop.last %},{% endif %}
      {% endfor %}
    </dd>
    <dt>Année de réfection</dt>
    <dd>{% if circuit.refection_date %}{{ circuit.refection_date }}{% endif %}</dd>
    <dt>Note de réfection</dt> {# <i class="fa fa-paint-brush"></i> #}
    <dd>{% if circuit.refection_note %}{{ circuit.refection_note|safe }}{% endif %}</dd>
    <dt>Réfections
      <a role="button" class="btn btn-sm btn-primary" href="{{ url('refection.create') }}">
	<i class="fa fa-plus"></i></a>
    </dt>
    <dd>
      <table class="table table-sm">
	<tbody>
	  {% if circuit.refection_set.all() %}
	    {% for refection in circuit.refection_set.all() %}
	      <tr>
		<td><a href="{{ url('refection.details', refection.pk) }}">
		  {{ refection.date }}</a></td>
		<td>
		  {% for person in refection.persons.all() %}
		    <a href="{{ url('person.details', person.pk) }}">
		      {{ person.name }}</a>{% if not loop.last %},{% endif %}
		  {% endfor %}
		</td>
	      </tr>
	    {% endfor %}
	  {% endif %}
	</tbody>
      </table>
    </dd>
    <dt>Note</dt>
    <dd>{% if circuit.note %}{{ circuit.note|safe }}{% endif %}</dd>
    <dt>Topos</dt>
    <dd>
      {% for topo in circuit.topos %}
	<i class="fa fa-download"></i> <a href="{{ topo }}">{{ topo }}</a>
	<br>
      {% endfor %}
    </dd>
  </dl>

  <h2>
    Blocs
    <a role="button" class="btn btn-sm btn-primary" href="{{ url('circuit.boulders', circuit.pk) }}">
      <i class="fa fa-pencil-square-o"></i></a>
  </h2>
  <table class="table table-sm">
    <tbody>
      {% if circuit.boulders %}
	{% for boulder in circuit.boulders %}
	  <tr>
	    <td>{{ boulder.number }}</td>
	    <td>{{ boulder.grade }}</td>
	    <td>{{ boulder.name }}</td>
	    <td>{{ boulder.comment }}</td>
	  </tr>
	{% endfor %}
      {% endif %}
    </tbody>
  </table>
{% endblock %}
